CDK_DEFAULT_ACCOUNT=152955032929
CDK_DEFAULT_REGION=us-east-1
TOKEN_KEY=152955032929-24-03-12-08-08-52
OPENAI_API_KEY=
START_CMD=/rs
UPLOAD_BUCKET=
UPLOAD_OBJ_PREFIX=ai-content/
MAIN_FUN_ARN=arn:aws:lambda:us-east-1:152955032929:function:Ask_Assistant
embedding_endpoint=
sd_endpoint_name=
all_in_one_api=
SENDER_EMAIL=your-verified-email@domain.com
RECIPIENT_EMAIL=recipient@domain.com
  